/AbstractPiece.class
/BoardGames.class
/Cavalier.class
/ChessGame.class
/Coord.class
/Couleur.class
/Echiquier.class
/Fou.class
/Game.class
/Jeu.class
/PieceIHM.class
/PieceIHMs.class
/Pieces.class
/Pion.class
/PionBlanc.class
/PionNoir.class
/Reine.class
/Roi.class
/Tour.class
